ul ol {
    background-color: lightblue;
}
ul > li {
    color: red;
}
ul + p {
    font-size: 24px;
}
li.hasaclass + li {
    background-color: lightcyan;
}
li.hasaclass ~ li {
    font-style: italic;
}